@import "../../assets/less/variables.less";

.equipAssetManage-wrap {
    width: 100%;
    height: 100%;
    padding: 1%;
    position: relative;
    .equipAssetManage-wrap-N{
        height: 100%;
        width: 100%;
        padding: 0.1%;
        .left-menu{
            position: absolute;
            left: 3vmin;
            top: 3vmin;
            z-index: 99
        }
    }
}
