.bridge-type{
    font-size: 2.3vmin;
    color: @mian-font-color;
    margin-top: 2.3vmin;
    margin-left: 3vmin;
    padding-left: 0.6vmin;
    cursor: pointer;
    position: absolute;
    padding-right: 0.5vmin;
}
.bridge-pic-box{
    margin-top: 2vmin;
    width: 100%;
    height: 36vh;
    text-align: center;
}
.bridge-pic{
    width: 97%;
    height: 96%;
}
.choose-bridge-box{
    position: absolute;
    .choose-birdge{
        list-style: none;
        min-width: 7vmin;
    }
}