@import "../../assets/less/variables.less";

.strainSensor-wrap {
    width: 100%;
    height: 100%;
    position: relative;
    .asset-manage{
        position: absolute;
        left: 50vmin;
        top: 1vmin;
    }
    .sensor-data{
        position: absolute;
        top: 30vmin;
        right: 47vmin;
    }
}
